body{
    background-color: #77181e;
}

input[type="text"] {
    border: none;
    outline: none; 
}

input[type="text"]:focus {
    border: 1px solid #a92727; /* Agregar color al borde cuando se hace clic */
}

.list-group-item {
    display: flex;
    align-items: center;   
}

.form-check-input {
    margin-right: 0.625rem; /* Espacio entre el checkbox y el siguiente input o botón */
}

.task-text{
    flex-grow: 1; /* Allow text input to take up available space */
}
